<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6  col-lg-3 outer">
      <div class="inner-wrap">
        <div class="left-box" style="background-color:#3498db">
          <p class="icon-wrap">
            <i class="far fa-calendar-check"></i>
          </p>
        </div>
        <div class="right-box">
          <p class="data-wrap">
            Daily Check-ins
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6  col-lg-3 outer">
      <div class="inner-wrap">
        <div class="left-box" style="background-color:#1abc9c">
          <p class="icon-wrap">
            <i class="far fa-calendar-check"></i>
          </p>
        </div>
        <div class="right-box">
          <p class="data-wrap">
            Daily Check-out
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6  col-lg-3 outer">
      <div class="inner-wrap">
        <div class="left-box" style="background-color:#e74c3c">
          <p class="icon-wrap">
            <i class="fas fa-bed"></i>
          </p>
        </div>
        <div class="right-box">
          <p class="data-wrap">
            Available Rooms
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6  col-lg-3 outer">
      <div class="inner-wrap">
        <div class="left-box" style="background-color:#f1c40f">
          <p class="icon-wrap">
            <i class="fas fa-comment-dots"></i>
          </p>
        </div>
        <div class="right-box">
          <p class="data-wrap">
            Reviews
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
